<body>
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <form [formGroup]="addBusForm" (ngSubmit)="updatebus()">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="../../assets/img/admin.png"
                alt="Sample photo"
                class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height: 700px; width: 900px;"
              />
            </div>

            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase"> UPDATE BUS FOR OBRS </h3>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" formControlName="BusName"
                      [ngClass]="{'is-invalid':submitted && addBusForm.controls.BusName.errors}"
                      class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m"> Bus Name </label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" formControlName="Departure"
 [ngClass]="{'is-invalid':submitted && addBusForm.controls.Departure.errors}"
                      class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n"> Departure </label>
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" formControlName="BusNumber"
 [ngClass]="{'is-invalid':submitted && addBusForm.controls.BusNumber.errors}"
                  class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example8"> Bus Number </label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" formControlName="Source"
 [ngClass]="{'is-invalid':submitted && addBusForm.controls.Source.errors}"
                  class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example8"> Source </label>
                </div>
                  <div class="form-outline mb-4">
                  <input type="text" formControlName="Destination"
                  [ngClass]="{'is-invalid':submitted && addBusForm.controls.Destination.errors}"
                  class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example8">Destination  </label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" formControlName="Fare"
                  [ngClass]="{'is-invalid':submitted && addBusForm.controls.Fare.errors}"
                   class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example9"> Fare </label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" formControlName="CoachType"
                  [ngClass]="{'is-invalid':submitted && addBusForm.controls.CoachType.errors}"
                   class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example90"> Coach Type </label>
                </div>
                <div class="form-outline mb-4">
                  <input type="number" formControlName="SeatsAvailable"
                  [ngClass]="{'is-invalid':submitted && addBusForm.controls.SeatsAvailable.errors}"
                  class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example99"> Seat Available </label>
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button type="submit" class="btn btn-warning btn-lg ms-2"
                  [disabled]="updatebus.invalid"> Submit form </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</section>
</body>
