<section id="pricing">
  <div class="container">
    <h2>BUS FACILITIES</h2>
    <p>Simple and affordable price plans for you.</p>
    <div class="row">
      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Bus seats</h3>
          </div>
          <div class="card-body">
            <img src="../../assets/img/place-01.png" height="120px" width="250px">
            <h2>PushBack seats</h2>
            <p>Flexible and Goodlooking</p>
            <p>Seats price ₹ 5000/-</p>
            <div class="d-grid gap-2">
              <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-price">Book Now</a>

            </div>
          </div>
        </div>
      </div>
      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Bus seats</h3>
          </div>
          <div class="card-body">
            <img src="../../assets/img/place-01.png" height="120px" width="250px">
            <h2>PushBack seats</h2>
            <p>Flexible and Goodlooking</p>
            <p>Seats price ₹ 5000/-</p>
            <div class="d-grid gap-2">
              <a [routerLink]="['/login']" class="btn btn-price">Book Now</a>

            </div>
          </div>
        </div>
      </div>
      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Bus seats</h3>
          </div>
          <div class="card-body">
            <img src="../../assets/img/place-01.png" height="120px" width="250px">
            <h2>PushBack seats</h2>
            <p>Flexible and Goodlooking</p>
            <p>Seats price ₹ 5000/-</p>
            <div class="d-grid gap-2">
              <a [routerLink]="['/login']" class="btn btn-price">Book Now</a>

            </div>
          </div>
        </div>
      </div>
      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Bus seats</h3>
          </div>
          <div class="card-body">
            <img src="../../assets/img/place-01.png" height="120px" width="250px">
            <h2>PushBack seats</h2>
            <p>Flexible and Goodlooking</p>
            <p>Seats price ₹ 5000/-</p>
            <div class="d-grid gap-2">
              <a [routerLink]="['/login']" class="btn btn-price">Book Now</a>

            </div>
          </div>
        </div>
      </div>
      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Bus seats</h3>
          </div>
          <div class="card-body">
            <img src="../../assets/img/place-01.png" height="120px" width="250px">
            <h2>PushBack seats</h2>
            <p>Flexible and Goodlooking</p>
            <p>Seats price ₹ 5000/-</p>
            <div class="d-grid gap-2">
              <a [routerLink]="['/login']" class="btn btn-price">Book Now</a>

            </div>
          </div>
        </div>
      </div>
      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Bus seats</h3>
          </div>
          <div class="card-body">
            <img src="../../assets/img/place-01.png" height="120px" width="250px">
            <h2>PushBack seats</h2>
            <p>Flexible and Goodlooking</p>
            <p>Seats price ₹ 5000/-</p>
            <div class="d-grid gap-2">
              <a [routerLink]="['/login']" class="btn btn-price">Book Now</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-us">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-heading">
                <div class="center">
                  <h2>Bus  Information</h2>
                  <p> Pellentesque quis turpis et lectus auctor gravida
                    ut vel orci. Proin et tempus nunc. Proin sed justo
                    neque. Donec et tempus ligula, et gravida elit.
                    Vivamus vitae placerat metus.</p>
                    </div>
              </div>
          </div>
          <div class="col-md-6">
              <img src="../../assets/img/side2.jpg" alt="" width="100%">
          </div>
          <div class="col-md-6">
              <img src="../../assets/img/side1.jpg" alt="" width="100%">
          </div>
          <div class="col-md-4">
              <h6>Proin dignissim rhoncus</h6>
              <p>Aliquam elit metus, varius in ligula sed, posuere aliquam nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis vel rhoncus lectus.</p>
          </div>
          <div class="col-md-4">
              <h6>Duis vehicula quis elit</h6>
              <p>Donec nisl felis, eleifend eu diam ut, condimentum finibus erat. Aliquam luctus commodo ultricies. Etiam in tellus mi. Nam lobortis est magna, et rutrum ipsum lacinia id.</p>
          </div>
          <div class="col-md-4">
              <h6>Duis vel rhoncus lectus</h6>
              <p>Mauris aliquet eget lorem a tempor. Morbi in dui sed orci placerat ultrices sed a mi. Praesent eget porttitor enim. In tempor eros mi. Morbi a lobortis ante. Sed blandit vitae diam commodo ultricies.</p>
          </div>
      </div>
  </div>
</section>


